{%
  set classes = [
    'search-results-list__list',
  ]
%}

{% if items or empty -%}
  <div{{ wrapper_attributes.addClass('search-results-list grid--left-content') }}>
    {%- if title is not empty -%}
      <h3>{{ title }}</h3>
    {%- endif -%}
    {%- if items -%}
      <ol{{ attributes.addClass(classes) }}>
        {%- for item in items -%}
          <li{{ item.attributes.addClass('search-results-list__item') }}>
            {# item.value is used for core's default search. #}
            {{ item.value }}

            {# item.content is used for Views Search API and the advanced
            search recipe. #}
            {{ item.content }}
          </li>
        {%- endfor -%}
      </ol>
    {%- else -%}
      <div class="search-results-list__empty">
        {{- empty -}}
      </div>
    {%- endif -%}
  </div>
{%- endif %}
