{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{% extends 'breadcrumb.html.twig' %}

{% block trail %}
	{# add a custom link to the bios directory #}
	<li>
		<a href="/">{{- 'Home'|t -}}</a>
	</li>
	<li>
		<a href="{{ path('entity.node.canonical',{'node':'36'}) }}">{{- 'Meet the Team'|t -}}</a>
	</li>
	{% for item in breadcrumb %}
		{# print the node title like normal #}
		{% if loop.last %}
			<li>
				{% if item.url %}
					<a href="{{- item.url -}}">{{- item.text -}}</a>
				{% else %}
					{{- item.text -}}
				{% endif %}
			</li>
		{% endif %}
	{% endfor %}
{% endblock %}

