{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}

{{ attach_library('citizen_dart/accordion') }}
<div class="field-scholarships">
  <div class="field field-accordion-items">
    {%- for key, accordion in items -%}
    
      {% set accordionContent = accordion.content['#paragraph'] %}

      {% if key|first != '#' %}
        {% set controlParent = 'accordion-content-' ~ accordionContent.id() ~ '-' ~ (key + 1) %}
        <div class="accordion-item collapsed" data-accordion-id="{{ key + 1 }}">
          <div class="accordion-header" role="button" aria-controls="{{ controlParent }}" aria-expanded="false">
            <a href="#">{{ accordionContent.field_headline.0.value }}</a>
          </div>
          <div class="accordion-content" id="{{ controlParent }}" aria-hidden="true" inert>
            <div class="field field-long-text text-long collapse">
              <div class="inner-text">

                <div class="scholarship-hei">
                  <a href="{{ path('entity.node.canonical', {'node': accordionContent.field_hei.entity.nid.0.value }) }}">{{ accordionContent.field_hei.entity.title.0.value }}</a>
                </div>
                <div class="scholarship-deadline">
                  <span class="inline-label">Apply By: </span>
                  {{ accordionContent.field_deadline.0.value }}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {%- endfor -%}
  </div>
</div>