{% set classes = [
  'content-list',
  'paragraph',
  'paragraph--type--content-list',
  content_type ? 'content-' ~ content_type ~ '-list' : null
]|filter(v => v) %}

<div class="{{ classes|join(' ') }}">
  {% if title %}
    <h2 class="widget-title">{{ title }}</h2>
  {% endif %}

  <div class="content-list-view">
    {{ view }}
  </div>

  {% if link.url %}
    <div class="field field-link">
      <a href="{{ link.url }}"{% if link.target %} target="{{ link.target }}"{% endif %}{% if link.rel %} rel="{{ link.rel }}"{% endif %}>
        {{ link.title ?: link.url }}
      </a>
    </div>
  {% endif %}
</div>
