{#
  The layout_twocol_section plugin adds 'layout', 'layout--twocol-section',
  and 'layout--twocol-section--{column_widths}' classes to attributes in its
  build() method. No need to set classes here.
#}
<div{{ attr }}>
  {% if first %}
    <div{{ first_attr.addClass('layout__region', 'layout__region--first') }}>
      {{ first }}
    </div>
  {% endif %}
  {% if second %}
    <div{{ second_attr.addClass('layout__region', 'layout__region--second') }}>
      {{ second }}
    </div>
  {% endif %}
</div>
