{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{% extends 'field.html.twig' %}

{% block fieldMultiNoItems %}
  
  {%- for item in items -%}
    {% if loop.first %}
      <div{{ item.attributes.addClass('first-date') }}>
        {% set dateItem = item.content|render %}
        {%- if not loop.last -%}Starts {% endif -%}{{- dateItem }}
      </div>
    {% endif %}
  {%- endfor -%}

  {% if items.1 %}
    {% set drawer_content %}
      {%- for item in items -%}
        {% if not loop.first %}
          <div{{ item.attributes }}>
            {% set dateItem = item.content|render %}
            {%- if loop.last -%}Ends {% endif -%}{{- dateItem -}}
          </div>
        {% endif %}
      {%- endfor -%}
    {% endset %}
    {{ include('citizen_sdc:drawer', {
      toggle_position: 'above',
      drawer_style: 'sharp',
      rando: random(100),
      toggle_open_text: 'See All Dates',
      toggle_closed_text: 'See Less Dates',
      drawer: drawer_content,
    }, with_context = false) }}
  {% endif %}
{% endblock %}
