{% set classes = [
  'layout',
  'layout--twocol-split-left',
] %}
<div{{ attr.addClass(classes) }}>
  {% if first %}
    <div{{ first_attr.addClass('layout__region', 'layout__region--first') }}>
      {{ first }}
    </div>
  {% endif %}
  {% if second %}
    <div{{ second_attr.addClass('layout__region', 'layout__region--second') }}>
      {{ second }}
    </div>
  {% endif %}
  {% if third %}
    <div{{ third_attr.addClass('layout__region', 'layout__region--third') }}>
      {{ third }}
    </div>
  {% endif %}
  {% if content %}
    <div{{ content_attr.addClass('layout__region', 'layout__region--content') }}>
      {{ content }}
    </div>
  {% endif %}
</div>
