{% set classes = [
  'layout',
  'layout--twocol-sideleft',
] %}
<div{{ attr.addClass(classes) }}>
  {% if first %}
    <div{{ first_attr.addClass('layout__region', 'layout__region--first') }}>
      {{ first }}
    </div>
  {% endif %}
  {% if content %}
    <div{{ content_attr.addClass('layout__region', 'layout__region--content') }}>
      {{ content }}
    </div>
  {% endif %}
</div>
