{% if toggle_position != 'below' %}
  <button class="drawer-toggle drawer-toggle--{{ toggle_position }} button--clean" aria-controls="drawer-{{ rando }}" aria-expanded="false" data-toggle-open="{{ toggle_open_text|t }}" data-toggle-close="{{ toggle_close_text|t }}">{{ toggle_open_text|t }}</button>
{% endif %}

<div id="drawer-{{ rando }}" class="drawer-content drawer-content--{{ drawer_style }}" aria-hidden="true">
  {{ drawer }}
</div>

{% if toggle_position == 'below' %}
  <button class="drawer-toggle drawer-toggle--{{ toggle_position }} button--clean" aria-controls="drawer-{{ rando }}" aria-expanded="false" data-toggle-open="{{ toggle_open_text|t }}" data-toggle-close="{{ toggle_close_text|t }}">{{ toggle_open_text|t }}</button>
{% endif %}