<nav aria-label="{{ menu_name }}" id="{{ menu_name }}"{{ attr|without('role', 'aria-labelledby', 'id').addClass('block-menu--' ~ menu_name) }}>
  {# Label. If not displayed, we still provide it for screen readers. #}
  {% if show_menu_block_title == 'visible' and menu_block_title %}
  <h2 class="block-menu__title">{{ menu_block_title }}</h2>
  {% endif %}
  {{ title_suffix }}
  {{ menu }}
</nav>
