{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
{% set classes = [
	'term-teaser',
	'vocab-' ~ term.vid.0.target_id|clean_class
] %}

<div{{ attributes.addClass(classes) }}>
  {{ content.field_cluster_image }}
  {{ title_prefix }}
  <div class="cluster-name">{{ name[0]['#context'].value }}</div>
  {{ title_suffix }}
  {{ content.description }}
  <div class="cluster-search-link">
    {% set clusterID = term.tid.0.value %}
    {# replace 77 with the ID of the program search page on the live site and the program cluster filter query part with whatever the filter query is (cluster ID shouldn't change) #}
    <a href="{{ path('entity.node.canonical',{'node':'77'}) }}?program_custer_filter_query={{ clusterID }}" class="arrow-link">View all {{ name[0]['#context'].value }} programs</a>
  </div>
</div>
