{#
 	DRUPAL: This template is extended into the Drupal paragraph--accordions.html.twig.
#}
{% set controlId = accordionAnchor ? accordionAnchor : "" %}

<div class="accordion-item">
	<div class="accordion-header">
		<a href="#" role="button" id="{{ controlId }}" aria-controls="{{ accordionControl }}" aria-expanded="false">{{ accordionHeader }}</a>
	</div>
	<div class="field field-long-text text-long" id="{{ accordionControl }}" aria-hidden="true">
		{{ accordionContent }}
	</div>
</div>
