{% set grid_attributes = create_attribute() %}
{% set cell_attributes = create_attribute() %}

{% set classes = [
  'layout-dynamic',
  additional_classes,
  full_width ? 'full-width',
  theme and theme != 'inherit' ? 'theme--' ~ theme|clean_class,
  section_width == 'edge-to-edge' ? 'full-width layout-dynamic--section-edge-to-edge' : 'container  layout-dynamic--section-max-width',
  content_width == 'edge-to-edge' ? 'layout-dynamic--content-edge-to-edge',
  margin_top == 'zero' ? 'margin-top--0',
  margin_top == 'small' ? 'margin-top--s',
  margin_top == 'medium' ? 'margin-top--m',
  margin_top == 'large' ? 'margin-top--l',
  margin_bottom == 'zero' ? 'margin-bottom--0',
  margin_bottom == 'small' ? 'margin-bottom--s',
  margin_bottom == 'medium' ? 'margin-bottom--m',
  margin_bottom == 'large' ? 'margin-bottom--l',
  padding_top == 'zero' ? 'padding-top--0',
  padding_top == 'small' ? 'padding-top--s',
  padding_top == 'medium' ? 'padding-top--m',
  padding_top == 'large' ? 'padding-top--l',
  padding_bottom == 'zero' ? 'padding-bottom--0',
  padding_bottom == 'small' ? 'padding-bottom--s',
  padding_bottom == 'medium' ? 'padding-bottom--m',
  padding_bottom == 'large' ? 'padding-bottom--l',
  cell_align_x == 'start' ? 'align-x-start',
  cell_align_x == 'center' ? 'align-x-center',
  cell_align_x == 'end' ? 'align-x-end',
  cell_align_y == 'top' ? 'align-y-top',
  cell_align_y == 'center' ? 'align-y-center',
  cell_align_y == 'bottom' ? 'align-y-bottom',
] %}

{% set grid_classes = [
  'layout-dynamic__layout',
  'layout-dynamic__layout--columns-' ~ column_count,
  'layout-dynamic__layout--rows-' ~ row_count,
  column_count == 2 and two_column_layout ? ('layout-dynamic__layout--' ~ two_column_layout|replace({'%': '', ' ': '', '/': '-'}))|clean_class,
  column_count == 3 and three_column_layout ? ('layout-dynamic__layout--' ~ three_column_layout|replace({'%': '', ' ': '', '/': '-'}))|clean_class,
  column_gutter == 'zero' ? 'gutter-column--0',
  column_gutter == 'small' ? 'gutter-column--s',
  column_gutter == 'medium' ? 'gutter-column--m',
  column_gutter == 'large' ? 'gutter-column--l',
  row_gutter == 'zero' ? 'gutter-row--0',
  row_gutter == 'small' ? 'gutter-row--s',
  row_gutter == 'medium' ? 'gutter-row--m',
  row_gutter == 'large' ? 'gutter-row--l',
] %}

{% set cell_classes = [
  'layout-dynamic__cell',
  cell_align_x == 'start' ? 'layout-dynamic__cell--align-x-start',
  cell_align_x == 'center' ? 'layout-dynamic__cell--align-x-center',
  cell_align_x == 'end' ? 'layout-dynamic__cell--align-x-end',
  cell_align_y == 'top' ? 'layout-dynamic__cell--align-y-top',
  cell_align_y == 'center' ? 'layout-dynamic__cell--align-y-center',
  cell_align_y == 'bottom' ? 'layout-dynamic__cell--align-y-bottom',
] %}

<div{{ attributes.addClass(classes) }}>
  <div class="layout-dynamic__container {{ section_width != 'max-width' and (content_width == 'narrow' or content_width == 'max-width') ? 'container' }}">
    <div class="layout-dynamic__header {{ content_width == 'narrow' ? 'grid--content-narrow' : 'grid' }}">
      {% block header %}{% endblock %}
    </div>
    <div class="{{ content_width == 'narrow' ? 'grid--content-narrow' : 'grid' }}">
      <div{{ grid_attributes.addClass(grid_classes) }}>
        {% for i in 1..row_count %}
          {% set prev_row_cell_count = (i - 1) * column_count %}
          {% for i in 1..column_count %}
            {% set current_cell = prev_row_cell_count + i %}
              <div{{ cell_attributes.addClass(cell_classes)}}>
                {% if block('cell_' ~ current_cell) is defined %}
                  {{ block('cell_' ~ current_cell) }}
                {% endif %}
              </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
